---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
import Game from '@/components/Game.astro';
import Rules from '@/components/Rules.astro';
---

<Layout title="Rock, papper, scissors">
  <main>
    <Banner />
    <Game />
    <Rules />
  </main>
</Layout>
