<div id="game">
  <div id="select-hand">
    <img src="/img/bg-triangle.svg" alt="Tringle" width="250px" />
    <div id="rock" class="hand" data-handColor="red">
      <img src="/img/icon-rock.svg" alt="Rock hand" />
    </div>
    <div id="paper" class="hand" data-handColor="blue">
      <img src="/img/icon-paper.svg" alt="Paper hand" />
    </div>
    <div id="scissors" class="hand" data-handColor="yellow">
      <img src="/img/icon-scissors.svg" alt="Scissors hand" />
    </div>
  </div>

  <div id="picked-div" class="hidden">
    <div id="you-picked-div">
      <p>YOU PICKED</p>
      <div id="picked-hand-div">
        <img id="picked-hand" alt="Picked hand" />
      </div>
    </div>

    <div id="result-div" class="hidden">
      <p id="result-text"></p>
      <button id="play-again-button">PLAY AGAIN</button>
    </div>

    <div id="house-picked-div">
      <p>THE HOUSE PICKED</p>
      <div id="house-hand-div" class="house-hand-not-selected">
        <img id="house-picked-hand" alt="Picked hand" class="hidden" />
      </div>
    </div>
  </div>
</div>

<script>
  const handTypes = [
    { type: 'rock', color: 'red', winsTo: ['scissors'] },
    { type: 'paper', color: 'blue', winsTo: ['rock'] },
    { type: 'scissors', color: 'yellow', winsTo: ['paper'] }
  ];
  const handElements = document.querySelectorAll('.hand');
  const mediaQuery = window.matchMedia('(max-width: 640px)');

  handElements.forEach((hand) => {
    hand.addEventListener('click', () => {
      document.getElementById('select-hand')?.classList.add('hidden');
      document.getElementById('picked-div')?.classList.remove('hidden');
      document.getElementById('picked-div')?.classList.add('picked-grid');
      document.getElementById('picked-hand')?.setAttribute('src', `/img/icon-${hand.id}.svg`);
      document.getElementById('picked-hand-div')!.style.borderColor = hand.getAttribute('data-handColor')!;

      setTimeout(() => {
        const randomPosition = Math.floor(Math.random() * 3);
        document.getElementById('house-hand-div')?.classList.remove('house-hand-not-selected');
        document.getElementById('house-hand-div')?.classList.add('house-hand');
        document.getElementById('house-hand-div')!.style.borderColor = handTypes[randomPosition].color;
        document.getElementById('house-picked-hand')?.classList.remove('hidden');
        document.getElementById('house-picked-hand')?.setAttribute('src', `/img/icon-${handTypes[randomPosition].type}.svg`);
        document.getElementById('result-div')!.classList.remove('hidden');

        // Check if is mobile/tablet
        if (mediaQuery.matches) document.getElementById('picked-div')!.style.gap = '10px';
        else {
          document.getElementById('picked-div')!.style.gap = '20px';
          document.getElementById('picked-div')!.style.gridTemplateColumns = 'repeat(3, 1fr)';
        }

        if (handTypes[randomPosition].winsTo.includes(hand.id)) {
          document.getElementById('result-text')!.innerHTML = 'YOU LOSE';
        } else if (handTypes[randomPosition].type === hand.id) document.getElementById('result-text')!.innerHTML = 'TIE';
        else document.getElementById('result-text')!.innerHTML = 'YOU WIN';
      }, 3000);
    });

    document.getElementById('play-again-button')?.addEventListener('click', () => {
      document.getElementById('result-div')!.classList.add('hidden');
      document.getElementById('select-hand')!.classList.remove('hidden');
      document.getElementById('picked-div')!.classList.remove('picked-grid');
      document.getElementById('picked-div')!.classList.add('hidden');
      document.getElementById('house-hand-div')?.classList.add('house-hand-not-selected');
      document.getElementById('house-hand-div')?.classList.remove('house-hand');
      document.getElementById('house-picked-hand')?.classList.add('hidden');

      // Check if is mobile/tablet
      if (mediaQuery.matches) document.getElementById('picked-div')!.style.gap = '50px';
      else {
        document.getElementById('picked-div')!.style.gap = '100px';
        document.getElementById('picked-div')!.style.gridTemplateColumns = 'repeat(2, 1fr)';
      }
    });
  });
</script>

<style>
  #game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hidden {
    display: none;
  }

  .house-hand,
  .hand {
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    border: 15px solid;
    position: absolute;
    max-width: 60px;
    max-height: 60px;
  }

  .hand:hover {
    transition: transform 0.5s;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  #scissors {
    border-color: yellow;
    top: -50px;
    right: -50px;
  }

  #paper {
    border-color: blue;
    top: -50px;
    left: -50px;
  }

  #rock {
    border-color: red;
    left: 25%;
    bottom: -50px;
  }

  #picked-hand-div,
  #house-hand-div {
    margin: 0 auto;
  }

  /* Picked */
  .picked-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    color: white;
    text-align: center;
    justify-items: center;
  }

  #picked-hand-div {
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    border: 15px solid;
    max-width: 60px;
    max-height: 60px;
  }

  .house-hand-not-selected {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 100%;
    margin-top: 35px;
  }

  #result-div {
    align-self: center;
  }

  #result-text {
    font-size: 40px;
    margin: 0 0 10px 0;
  }

  #play-again-button {
    padding: 10px 40px;
    font-size: 14px;
    border-radius: 10px;
    color: #1f3756;
    background-color: white;
  }

  @media (width > 640px) {
    .picked-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
    }
  }
</style>
