<button id="show-button">RULES</button>

<dialog id="rules-dialog">
  <p id="rules-text">RULES</p>
  <img id="close-button" src="/img/icon-close.svg" alt="Close icon" />
  <img id="rules-img" src="/img/image-rules.svg" alt="Rules image" />
</dialog>

<script>
  const showButton = document.querySelector('#show-button');
  const closeButton = document.querySelector('#close-button');

  showButton!.addEventListener('click', () => {
    const rulesDialog = document.querySelector('#rules-dialog') as HTMLDialogElement;
    rulesDialog!.showModal();
  });

  closeButton!.addEventListener('click', () => {
    const rulesDialog = document.querySelector('#rules-dialog') as HTMLDialogElement;
    rulesDialog!.close();
  });
</script>

<style>
  #show-button {
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-decoration: none;
  }

  #show-button:hover {
    background-color: rgb(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
  }

  #rules-dialog {
    align-content: center;
  }

  #close-button {
    position: absolute;
  }

  #rules-text {
    margin-top: 0;
  }

  @media (width > 640px) {
    #rules-dialog {
      border-radius: 10px;
      padding: 25px 16px;
    }

    #rules-dialog::backdrop {
      background: rgb(0, 0, 0, 0.4);
    }

    #rules-text {
      font-size: 20px;
    }

    #close-button {
      top: 30px;
      right: 20px;
      width: 16px;
    }
  }

  @media (width <= 640px) {
    #rules-text {
      font-size: 30px;
      text-align: center;
    }

    #rules-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #rules-dialog {
      height: 100%;
      width: 100%;
    }

    #close-button {
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
    }
  }
</style>
